aiosqlite==0.17.0
anyio==3.5.0
asgiref==3.5.0
click==8.0.4
colorama==0.4.4
databases==0.5.5
fastapi==0.74.1
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
idna==3.3
loguru==0.6.0
ormar==0.10.25
Pillow==9.0.1
pydantic==1.9.0
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
qrcode==7.3.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
watchgod==0.7
websockets==10.2
win32-setctime==1.1.0
